<!--
 This page is example of partials
-->
<table>
  <tr>
    <td><%= link_to "Go to view page", view_page_patient_index_path %></td>
    <td>    </td>
    <td><%= link_to "Go to add page", add_page_patient_index_path %><br></td>
  </tr>
  <tr>
    <td rowspan=2 >
      Services available only in following countries :
      <b><%= country_name()  %></b> 	
    </td>
  </tr>
</table>



