<%=render partial: "links"%>
<h1>Patient add_page</h1>
<p>Find me in app/views/patient/add_page.html.erb</p>

<%= form_for :patient, url: save_pateint_patient_index_path do |f| %>

 <p>
   <%=f.label :Enter_Name %>
   <%=f.text_field :name, id: :pateint_name %>
 </p>

 <p>
   <%=f.label :Enter_problem %>
   <%=f.text_field :problem, id: :patient_problem %>
 </p>

 <p>
   <%=f.label :Enter_Address %>
   <%=f.text_area :address, id: :pateint_address %>
 </p>

 <%=f.submit %>
<% end %>