<%=render partial: "links"%>
<h1>Update page</h1>
<%= form_for @patient_update, url: update_pateint_patient_path, method: :patch do |f| %>

    <p>
      <%=f.label :Enter_Name %>
      <%=f.text_field :name, id: :pateint_name %>
    </p>

    <p>
      <%=f.label :Enter_problem %>
      <%=f.text_field :problem, id: :patient_problem %>
    </p>

    <p>
      <%=f.label :Enter_Address %>
      <%=f.text_area :address, id: :pateint_address %>
    </p>

    <%=f.submit %>
<% end %>