<%=render partial: "links"%>
<h1>Patient view_page</h1>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<p style = "color:darkgreen"><%= flash[:info] %></p>
<table border = "1">
  <tr>
    <td>Sno.</td>
    <td>Name</td>
    <td>Address</td>
    <td>Problem</td>
    <td>Action</td>
  </tr>

  <% count=1
    @pateint_info.find_each do |pateints| %>
      <tr>
        <td><%= count %></td>
        <td><%= pateints.name %></td>
        <td><%= pateints.address %></td>
        <td><%= pateints.problem %></td>
        <td>
          <%= link_to "view", view_single_info_patient_path(pateints) %> |
          <%= link_to "update", edit_page_patient_path(pateints) %> |
          <%= link_to "delete", delete_pateint_patient_path(pateints) %> |
        </td>
      </tr>
      <% count+=1
    end 
  %>
</table>
