<%=render partial: "links"%>
<h1>Patient Single Info</h1>
<h3>Normal view</h3>
<b>Name:</b> <%=@every_pateint_info.name %><br>
<b>Problem:</b> <%=@every_pateint_info.problem %><br>
<b>Address:</b> <%=@every_pateint_info.address %><br>

<h3>JSON view</h3>
<%=@every_pateint_info.as_json(root: true) %>